::selection {
    background: rgba(0, 0, 0, 0.99);
    color: #fff;
    opacity: 1;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}

.m {
    min-height: 100vh;
}

.activity {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .activity {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .activity {
        width: 70%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .activity {
        margin: 0 auto;
        width: 100%;
    }
}

/******************************************************************************/

figcaption {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #454545;
}

figcaption a:hover {
    border-bottom: 1px solid rgba(0, 118, 255, .2);
}
