::selection {
    background: rgba(0, 0, 0, 0.99);
    color: #fff;
    opacity: 1;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

a, a span {
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

a {
    color: #48b983;
}

a:hover {
    color: #40a776;
}

ul, ol {
    margin: 0;
    padding: 0;
}

blockquote {
    font-size: 14px;
}

/*---header----------------------------------------*/
header {
    padding: 30px;
    color: #fff;
    background-color: #131313;
}

header h1 {
    margin: 0 0 0 4px;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header h1 a {
    color: #fff;
}

header h1 a:hover {
    color: #ff5252;
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    header {
        padding: 15px;
        color: #fff;
        background-color: #131313;
    }

    header h1 {
        margin: 0 0 0 4px;
        font-size: 24px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

@media (max-width: 767px) {
    header h1 {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .list-inline li {
        display: list-item;
    }
}

/*---post-----*/
.content {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
    line-height: 20px;
}

.content h2.title {
    color: #000;
    margin: 0;
    font-size: 2.2rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

.content p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
    font-family: Georgia, serif;
    font-weight: 400;
    color: #000;
}

.content p.date {
    margin-top: 15px;
    color: #999;
}

.content ul {
    list-style-type: none;
    display: inline-block;
}

.content li {
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-bottom, border-color, background, color, fill;
    font-size: 1.25rem;
    font-family: 'lora', Georgia, serif;
    margin-bottom: 12px;
    word-wrap: inherit;
}

.content li span {
    display: inline-block;
    width: 30px;
    margin-right: 45px;
    font-size: 1.25rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    font-family: 'gilroy', Arial, Helvetica, sans-serif;
}

.content li a {
    display: inline-block;
    color: #0076ff;
    border-bottom: 1px solid rgba(0, 118, 255, .2);
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-bottom, border-color, background, color, fill;
    font-family: Georgia, serif;
}

.content li a:hover {
    color: #ff3824;
    border-bottom-color: rgba(255, 56, 36, .2);
}

.content img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.post {
    margin-bottom: 10px;
}

.post a {
    display: block;
}

.post a:hover {
    text-decoration: none;
}

.post a h2 {
    color: #222;
}

.post a p {
    color: #888;
}

.post h2 {
    margin-bottom: 20px;
}

img.float-right {
    margin: 0 1em .5em 1em;
    float: right;
}

@media (min-width: 320px) and (max-width: 480px) {
    .content {
        padding-left: 20px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        max-width: 100%;
        line-height: 20px;
    }
}

@media (max-width: 500px) {
    img.float-right {
        float: none;
        display: block;
        margin: 1em auto;
    }
}

/*---interests----------------------------------------*/
h3.title {
    color: #000;
    font-weight: 600;
    font-size: 1.85rem;
    font-family: Georgia, serif;
}

ul.interests {
    margin-left: 40px;
    margin-top: 10px;
}

p.stars {
    color: #000;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: Georgia, serif;
    text-align: center;
}

/*---bottomsheet---*/
ul.bslist {
    margin-left: 50px;
    list-style-type: circle;
}