::selection {
    background: rgba(0, 0, 0, 0.99);
    color: #fff;
    opacity: 1;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

a, a span {
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

a {
    color: #48b983;
}

a:hover {
    color: #40a776;
}

ul, ol {
    margin: 0;
    padding: 0;
}

code {
    color: #444;
    background-color: #f6f6f6;
}

blockquote {
    font-size: 14px;
}

header {
    padding: 30px;
    color: #fff;
    background-color: #131313;
}

header h1 {
    margin: 0 0 0 4px;
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    header h1 {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .list-inline li {
        display: list-item;
    }
}

header h1 a {
    color: #fff;
}

header h1 a:hover {
    color: #ff5252;
    text-decoration: none;
}

.content {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
    line-height: 20px;
}

/*.content h2 {
    color: #000;
    margin-top: 0;
    font-size: 32px;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
}*/

.content h2.title {
    color: #000;
    margin: 0;
    font-size: 2.2rem;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: 900;
}

/*.content h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}*/

/*.content h4 {
    margin-top: 25px;
    margin-bottom: 15px;
}*/

.content p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.4;
    font-family: Georgia, serif;
    font-weight: 400;
    color: #000;
}

.content p.date {
    color: #999;
}

.content ul {
    list-style-type: none;
    display: inline-block;
}

.content li {
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-bottom, border-color, background, color, fill;
    font-size: 20px;
    font-family: Georgia, serif;
    margin-bottom: 12px;
}

.content li a {
    display: inline-block;
    color: #0076ff;
    border-bottom: 1px solid rgba(0, 118, 255, .2);
    transition-duration: .15s;
    transition-timing-function: ease-out;
    transition-property: border-bottom, border-color, background, color, fill;
    font-family: Georgia, serif;
}

.content li a:hover {
    color: #ff3824;
    border-bottom-color: rgba(255, 56, 36, .2);
}

.content img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.post-item {
    margin-bottom: 20px;
}

.post-item:last-child {
    margin-bottom: 0;
}

.post-item a {
    display: block;
}

.post-item a:hover {
    text-decoration: none;
}

.post-item a h2 {
    color: #222;
}

.post-item a p {
    color: #888;
}

.post h2 {
  margin-bottom: 20px;
}

img.float-right {
    margin: 0 1em .5em 1em;
    float: right;
}

@media (max-width: 500px) {
    img.float-right {
        float: none;
        display: block;
        margin: 1em auto;
    }
}