@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

::selection {
    background: rgba(0, 0, 0, 0.99);
    color: #fff;
    opacity: 1;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    flex-grow: 1;
}

.inner {
    padding: 5px;
}

.inner h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #fff;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: inline-block;
    padding: 8px 14px 8px 14px;
    background-color: #455a64;
    border-radius: 4px;
    width: 100%;
}

ul {
    list-style-type: none;
    line-height: 2;
}

li {
    padding-left: 40px;
    color: #212121;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.stars p {
    padding: 15px;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.sj-image {
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 360px) {
    .inner h1 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #212121;
        text-align: left;
        font-weight: 600;
    }

    .chip-green {
        display: inline-block;
        padding: 6px 13px 6px 13px;
        border-radius: 4px;
        background-color: #69F0AE;
    }

    .chip-red {
        display: inline-block;
        padding: 6px 13px 6px 13px;
        border-radius: 4px;
        background-color: #FF8A80;
    }

    ul {
        list-style-type: none;
        line-height: 1.90;
    }

    li {
        padding-left: 0px;
        text-decoration: none;
        color: #000;
        font-size: 1.1875rem;
    }

    .sj-image {
        width: 100%;
        height: auto;
    }

    .sj {
        font-size: 16px;
        font-weight: 600;
    }
}
