footer {
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #22272a;
    color: #fff;
}

footer hr {
    margin-bottom: 20px;
}

footer .nav {
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #cfd8dc;
}

footer .nav:hover {
    color: #fff;
}

footer .links {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

footer .links a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
