.splash {
    margin: 0 0 0 0;
	min-height: 100vh;
	padding-top: 50vh;
}

footer {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    background: #22272a;
    color: #fff;
    width: 100%;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .nav {
    line-height: 22px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 16px;
    color: #fff;
}

footer .links {
    text-align: center;
    line-height: 24px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

footer .links a {
    color: #fff;
}
