html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
}

header {
    background: #22272a;
    color: #fff;
    width: 100%;
    height: 54px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.splash {
    margin: 0 0 0 0;
	min-height: 100vh;
	padding-top: 50vh;
}

.inner h3 {
    padding-top: 25%;
    color: #141414;
    text-align: center;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 36px;
}

.inner p {
    text-align: center;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px #000;
}

.navigation {
    float: left;
    font-size: 18px;
    margin-right: 15px;
}

.navigation a {
    color: #fff;
}

.navigation a:hover {
    color: #fff;
    text-decoration: underline;
}

.card {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.inner {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.title {
    font-size: 32px;
    text-align: center;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    color: #000;
}

.overview {
    font-size: 18px;
    line-height: 1.5;
    color: #232323;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}

figcaption {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

#map {
    width: 100%;
    height: 450px;
}

footer {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    background: #22272a;
    color: #fff;
    width: 100%;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .nav {
    line-height: 22px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-size: 16px;
    color: #fff;
}

footer .links {
    text-align: center;
    line-height: 24px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

footer .links a {
    color: #fff;
}

ul {
    list-style-type: none;
    line-height: 2.0;
    margin-left: 15px;
	padding-left: 0px;
}

li a {
    text-decoration: none;
    color: #141414;
    font-size: 20px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}

li a.place {
    text-decoration: none;
    color: #424242;
    font-size: 17px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    border-bottom: 1px solid;
}

li a:hover {
    color: #009688;
}

/***************/

li span {
    display: inline-block;
	width: 40px;
    margin-right: 20px;
    font-size: 22px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    color: #ff0266;
    text-align: center;
}

ul.view {
    margin: 0;
    padding: 4px;
}

ul.view li {
    display: inline;
    margin-right: 5px;
    border-bottom: 1px solid #bdbdbd;
    padding: 3px;
}

ul.view li a {
    font-size: 18px;
}

ul.view li a:hover {
    color: #1565c0;
}

ul.view li.viewtitle {
    text-decoration: none;
    border-bottom: 0;
    font-size: 16px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}
