@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

body {
    background: linear-gradient(to bottom right, #f5f6f7, #f5f6f7);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.layout {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.layout h1 {
    margin: 0;
    display: block;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: #000;
}

.layout .time {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 38px;
    color: #818181;
}

.layout .text {
    margin: 0;
    display: block;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

.layout .map-btn {
    display: inline-block;
    float: right;
    cursor: pointer;
    background-color: #039be5;
    color: #fff;
    padding-left: 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 14px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
    border-radius: 2px;
}

.layout .map-btn:hover {
    box-shadow: 0px 2px 2px #ccc;
    transition: box-shadow .2s;
}

.photo {
    margin-top: 15px;
    margin-bottom: 20px;
}

.inner {
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.time {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 38px;
    color: #818181;
}

.card h1 {
    margin: 0;
    display: block;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: #000;
}

.card h2 {
    margin: 0;
    display: block;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #000;
}

.description {
    margin: 0;
    display: block;
    color: #454545;
    font-size: 18px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    line-height: 1.5;
}

.map-button {
    display: inline-block;
    float: right;
    cursor: pointer;
    background-color: #039be5;
    color: #fff;
    padding-left: 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 14px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
    border-radius: 2px;
}

.map-button:hover {
    box-shadow: 0px 2px 2px #ccc;
    transition: box-shadow .2s;
}

figcaption {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #454545;
}

span {
    display: block;
    margin: 0;
    padding: 0;
    color: #141414;
    text-align: center;
    font-size: 16px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 28px;
}

section figure {
    position: relative;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    float: left;
    max-width: 100%;
}

section figure img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

section figure figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6); /*alpha 50%*/
    color: #fff;
    padding: 8px;
    font-size: 14px;
}

section {
    height: 1%;
    overflow: hidden;
}

@media only screen and (max-width: 515px) {
    .navigation {
        float: left;
        font-size: 14px;
        margin-right: 15px;
    }

    .container {
        width: 100%;
    }

    .content {
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: auto;
    }

    .image {
        width: 100%;
        height: auto;
        border: 1;
    }

    .layout {
        padding-left: 0px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    figcaption {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .layout.description, h2 {
        padding-left: 20px;
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
}
