body {
    background: linear-gradient(to bottom right, #fccb90, #d57eeb);
    background: linear-gradient(to bottom right, #d4fc79, #96e6a1);
    background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
    background: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
}

header {
    background: #22272a;
    color: #fff;
    width: 100%;
    height: 54px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.photo {
    margin-top: 15px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.navigation {
    float: left;
    font-size: 18px;
    margin-right: 15px;
    color: #fff;
}

.navigation a {
    color: #fff;
}

.navigation a:hover {
    color: #fff;
}

.card {
    box-shadow: 0 1px 4px 0;
    background-color: #fff;
    width: 100%;
    height: auto;
}

.inner, .layout {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.time {
    color: #818181;
    font-size: 14px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 38px;
}

.card h1 {
    display: block;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    /*padding-top: 10px;*/
    margin: 0;
    text-align: left;
    line-height: 36px;
}

.card h2 {
    display: block;
    color: #000;
    font-size: 28px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    margin: 0;
    text-align: left;
}

.description {
    display: block;
    color: #232323;
    font-size: 18px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    line-height: 1.5;
    /*padding-top: 10px;*/
    margin: 0;
}

.map-button {
    display: inline-block;
    float: right;
    cursor: pointer;
    background-color: #039be5;
    color: #fff;
    padding-left: 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    font-size: 14px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    text-align: center;
    font-weight: normal;
    border-radius: 2px;
}

.map-button:hover {
    box-shadow: 0px 2px 2px #ccc;
    transition: box-shadow .2s;
}

figcaption {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
}

footer {
    left: 0;
    bottom: 0;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    background: #22272a;
    color: #fff;
    width: 100%;
}

footer .f-nav {
    line-height: 22px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .links {
    text-align: center;
    line-height: 24px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
}

footer .links a {
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}

.footer-text {
    font: 500 15px Roboto, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 49.5% 1% 49.5%;
}

.grid-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

span {
    display: block;
    margin: 0;
    padding: 0;
    color: #141414;
    text-align: center;
    font-size: 16px;
    font-family: 'Google Sans', 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 28px;
}

@media only screen and (max-width: 515px) {
    .navigation {
        float: left;
        font-size: 14px;
        margin-right: 15px;
    }

    .content {
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        width: auto;
    }

    .image {
        width: 100%;
        height: auto;
        border: 1;
    }

    .layout {
        padding-left: 0px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    figcaption {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('Robotothin.woff2') format('woff2'), url('Robotothin.woff') format('woff'), url('Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('Robotothinitalic.woff2') format('woff2'), url('Robotothinitalic.woff') format('woff'), url('Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoLight';
    src: local('Roboto Light'), local('Roboto-Light'), url('../static/fonts/roboto/Robotolight.woff2') format('woff2'), url('../static/fonts/roboto/Robotolight.woff') format('woff'), url('../static/fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('Robotolightitalic.woff2') format('woff2'), url('Robotolightitalic.woff') format('woff'), url('Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoRegular';
    src: local('Roboto'), local('Roboto-Regular'), url('../static/fonts/roboto/Roboto.woff2') format('woff2'), url('../static/fonts/roboto/Roboto.woff') format('woff'), url('../static/fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('Robotoitalic.woff2') format('woff2'), url('Robotoitalic.woff') format('woff'), url('Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../static/fonts/roboto/Robotomedium.woff2') format('woff2'), url('../static/fonts/roboto/Robotomedium.woff') format('woff'), url('../static/fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../static/fonts/roboto/Robotomediumitalic.woff2') format('woff2'), url('../static/fonts/roboto/Robotomediumitalic.woff') format('woff'), url('../static/fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('Robotobold.woff2') format('woff2'), url('Robotobold.woff') format('woff'), url('Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('Robotobolditalic.woff2') format('woff2'), url('Robotobolditalic.woff') format('woff'), url('Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('Robotoblack.woff2') format('woff2'), url('Robotoblack.woff') format('woff'), url('Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('Robotoblackitalic.woff2') format('woff2'), url('Robotoblackitalic.woff') format('woff'), url('Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
